<div class="open-source">
  <div style="background-image: url(assets/images/software/vue-file-toolbar-menu.jpg)">
    <div>
      <h3>Vue.js file-toolbar-menu component</h3>
      <div><strong><a href="https://github.com/motla/vue-file-toolbar-menu" target="_blank">View on Github</a></strong></div>
      <div style="margin-top: 5px"><a class="github-button" href="https://github.com/motla/vue-file-toolbar-menu" data-icon="octicon-star" data-show-count="true" aria-label="Star motla/vue-file-toolbar-menu on GitHub">Star</a></div>
    </div>
  </div>
  <div style="background-image: url(assets/images/software/vue-document-editor.jpg)">
    <div>
      <h3>Vue.js document-editor component</h3>
      <div><strong><a href="https://github.com/motla/vue-document-editor" target="_blank">View on Github</a></strong></div>
      <div style="margin-top: 5px"><a class="github-button" href="https://github.com/motla/vue-document-editor" data-icon="octicon-star" data-show-count="true" aria-label="Star motla/vue-document-editor on GitHub">Star</a></div>
    </div>
  </div>
</div>