<div class="papers">
  <div style="background-image: url(assets/images/papers/patent1.png)">
    <div>
      <h3>Assisting the movement of a wheel-mounted object...</h3>
      <div>Patent <strong><a href="https://patentscope.wipo.int/search/en/detail.jsf?docId=WO2015128239" target="_blank">WO2015128239</a></strong></div>
    </div>
  </div>
  <div style="background-image: url(assets/images/papers/patent2.png)">
    <div>
      <h3>3-phase powered audio amplifier</h3>
      <div>Patent <strong><a href="https://worldwide.espacenet.com/patent/search/family/053514297/publication/FR3033675A1?q=FR3033675A1" target="_blank">FR3033675A1</a></strong></div>
    </div>
  </div>
</div>