<div class="portfolio">
  <div style="background-image: url(assets/images/portfolio/ewincher.jpg)">
    <div>
      <div class="contributions">
        <h3>Contribution</h3>
        <div>- R&amp;D</div>
        <div>- Electronics</div>
        <div>- Firmware</div>
        <div>- Factory software</div>
        <div>- Bluetooth App</div>
        <div>- UI/UX</div>
      </div>
      <div class="content">
        <h2>Electric winch handle</h2>
        <div><a href="//ewincher.com/en/" target="_blank">ewincher.com</a></div>
        <div class="desc">This product helps elderly people to raise the sails on their boat. It features a safe and accurate sensorless 3-phase motor control.</div>
      </div>
    </div>
  </div>

  <div style="background-image: url(assets/images/portfolio/greenwake.jpg)">
    <div>
      <div class="contributions">
        <h3>Contribution</h3>
        <div>- Electronics</div>
        <div>- Firmware</div>
        <div>- Webserver</div>
        <div>- Display software</div>
        <div>- Testing</div>
        <div>- UI/UX</div>
      </div>
      <div class="content">
        <h2>Wireless powered sensors</h2>
        <div><a href="//gnw-tech.com" target="_blank">gnw-tech.com</a></div>
        <div class="desc">Long-range 2.45Ghz power transmitter, energy harvester and high-precision sensor measure. Data can be sent over Ethernet, Lo-Ra or 4G.</div>
      </div>
    </div>
  </div>
  
  <div style="background-image: url(assets/images/portfolio/tsume.jpg)">
    <div>
      <div class="contributions">
        <h3>Contribution</h3>
        <div>- Product definition</div>
        <div>- Editing software</div>
        <div>- Electronics</div>
        <div>- Firmware</div>
        <div>- Production tools</div>
        <div>- Testing</div>
        <div>- UI/UX</div>
      </div>
      <div class="content">
        <h2>LED / Audio controller</h2>
        <div><a href="//tsume-art.com/" target="_blank">tsume-art.com</a></div>
        <div class="desc">Complete solution to design powerful LED sequences for statuettes. Realtime render over USB. Electronics are optimized for large scale production.</div>
      </div>
    </div>
  </div>
  
  <div style="background-image: url(assets/images/portfolio/polochon.jpg)">
    <div>
      <div class="contributions">
        <h3>Contribution</h3>
        <div>- Firmware</div>
        <div>- Testing</div>
      </div>
      <div class="content">
        <h2>Children flashlight</h2>
        <div><a href="//polochon-cie.fr/" target="_blank">polochon-cie.fr</a></div>
        <div class="desc">Smooth LED control with selectable animations.<br>Smart low-battery indication.</div>
      </div>
    </div>
  </div>

  <div style="background-image: url(assets/images/portfolio/temiq.jpg)">
    <div>
      <div class="contributions">
        <h3>Contribution</h3>
        <div>- Product definition</div>
        <div>- Electronics</div>
        <div>- Firmware</div>
        <div>- Testing</div>
        <div>- UI/UX</div>
      </div>
      <div class="content">
        <h2>Heating system controller</h2>
        <div><a href="//temiq.fr/" target="_blank">temiq.fr</a></div>
        <div class="desc">Advanced regulation of heating systems. Industrial safety grade and 100+ requirements and variables. Control via USB or Ethernet.</div>
      </div>
    </div>
  </div>

  <div style="background-image: url(assets/images/portfolio/lecdmx1.jpg)">
    <div>
      <div class="contributions">
        <h3>Contribution</h3>
        <div>- Electronics</div>
        <div>- Firmware</div>
        <div>- Testing</div>
      </div>
      <div class="content">
        <h2>LED bar</h2>
        <div><a href="//lec.fr/" target="_blank">lec.fr</a></div>
        <div class="desc">High efficiency, nano foot-print PSU design. Controlled by DMX protocol. On-site configuration with DMX sequences.</div>
      </div>
    </div>
  </div>

  <div style="background-image: url(assets/images/portfolio/luxov.jpg)">
    <div>
      <div class="contributions">
        <h3>Contribution</h3>
        <div>- Electronics</div>
        <div>- Firmware</div>
        <div>- Testing</div>
      </div>
      <div class="content">
        <h2>Touch-sensitive climbing hold</h2>
        <div><a href="//luxov-connect.com/" target="_blank">luxov-connect.com</a></div>
        <div class="desc">Design and tuning of touch-sensitive functionality.</div>
      </div>
    </div>
  </div>

  <div style="background-image: url(assets/images/portfolio/mrsafe.jpg)">
    <div>
      <div class="contributions">
        <h3>Contribution</h3>
        <div>- Product design</div>
        <div>- Electronics</div>
        <div>- Firmware</div>
        <div>- Display software</div>
        <div>- Testing</div>
      </div>
      <div class="content">
        <h2>EM-field meter for MRI</h2>
        <div><a href="//ltsi.univ-rennes1.fr/" target="_blank">INSERM</a></div>
        <div class="desc">This device measures electromagnetic fields inside an MRI for its characterization. Hardware is non-magnetic, data is transferred via optical fiber.</div>
      </div>
    </div>
  </div>
  

</div>