<div class="products">
  <div style="background-image: url(assets/images/products/ewincher.jpg)">
    <div>
      <div class="contributions">
        <h3>Contribution</h3>
        <div>- R&amp;D</div>
        <div>- Electronics</div>
        <div>- Firmware</div>
        <div>- UI/UX</div>
        <div>- Factory software</div>
        <div>- Bluetooth App</div>
      </div>
      <div class="content">
        <h2>Electric winch handle</h2>
        <div><a href="https://www.ewincher.com/en/" target="_blank">ewincher.com</a></div>
        <div class="desc">This product helps elderly and disabled people to raise boat sails. It features a safe and accurate sensorless 3-phase motor control.</div>
      </div>
    </div>
  </div>

  <div style="background-image: url(assets/images/products/greenwake.jpg)">
    <div>
      <div class="contributions">
        <h3>Contribution</h3>
        <div>- Electronics</div>
        <div>- Firmware</div>
        <div>- Webserver</div>
        <div>- UI/UX</div>
        <div>- Display software</div>
        <div>- Testing</div>
      </div>
      <div class="content">
        <h2>Wireless powered sensors</h2>
        <div><a href="http://gnw-tech.com/" target="_blank">gnw-tech.com</a></div>
        <div class="desc">Long-range 2.45Ghz power transmitter, energy harvester and high-precision sensor measure. Data is sent over Ethernet, LoRa or 4G.</div>
      </div>
    </div>
  </div>
  
  <div style="background-image: url(assets/images/products/tsume.jpg)">
    <div>
      <div class="contributions">
        <h3>Contribution</h3>
        <div>- Product definition</div>
        <div>- UI/UX</div>
        <div>- Editing software</div>
        <div>- Electronics</div>
        <div>- Firmware</div>
        <div>- Production tools</div>
        <div>- Testing</div>
      </div>
      <div class="content">
        <h2>LED / Audio controller</h2>
        <div><a href="https://www.tsume-art.com/" target="_blank">tsume-art.com</a></div>
        <div class="desc">Complete solution to design powerful LED sequences on collectable figurines. Realtime render over USB. Electronics are optimized for large scale production.</div>
      </div>
    </div>
  </div>
  
  <div style="background-image: url(assets/images/products/polochon.jpg)">
    <div>
      <div class="contributions">
        <h3>Contribution</h3>
        <div>- Firmware</div>
        <div>- Testing</div>
      </div>
      <div class="content">
        <h2>Children flashlight</h2>
        <div><a href="https://polochon-cie.fr/" target="_blank">polochon-cie.fr</a></div>
        <div class="desc">Smooth LED control with selectable animations.<br>Smart low-battery indication.</div>
      </div>
    </div>
  </div>

  <div style="background-image: url(assets/images/products/temiq.jpg)">
    <div>
      <div class="contributions">
        <h3>Contribution</h3>
        <div>- Product definition</div>
        <div>- Electronics</div>
        <div>- UI/UX</div>
        <div>- Firmware</div>
        <div>- Testing</div>
      </div>
      <div class="content">
        <h2>Heating system controller</h2>
        <div><a href="http://www.temiq.fr/" target="_blank">temiq.fr</a></div>
        <div class="desc">Advanced control system. Industrial safety grade with 100+ requirements and variables. Modbus support over Ethernet or RS485.</div>
      </div>
    </div>
  </div>

  <div style="background-image: url(assets/images/products/lecdmx1.jpg)">
    <div>
      <div class="contributions">
        <h3>Contribution</h3>
        <div>- Electronics</div>
        <div>- Firmware</div>
        <div>- Testing</div>
      </div>
      <div class="content">
        <h2>LED bar</h2>
        <div><a href="https://www.lec.fr/" target="_blank">lec.fr</a></div>
        <div class="desc">High efficiency, nano foot-print PSU design. Control by DMX protocol. On-site configuration with DMX sequences.</div>
      </div>
    </div>
  </div>

  <div style="background-image: url(assets/images/products/luxov.jpg)">
    <div>
      <div class="contributions">
        <h3>Contribution</h3>
        <div>- Electronics</div>
        <div>- Firmware</div>
        <div>- Testing</div>
      </div>
      <div class="content">
        <h2>Touch-sensitive climbing hold</h2>
        <div><a href="http://www.luxov-connect.com/" target="_blank">luxov-connect.com</a></div>
        <div class="desc">Design and tuning of the touch-sensitive functionality.</div>
      </div>
    </div>
  </div>

  <div style="background-image: url(assets/images/products/mrsafe.jpg)">
    <div>
      <div class="contributions">
        <h3>Contribution</h3>
        <div>- Product design</div>
        <div>- Electronics</div>
        <div>- Firmware</div>
        <div>- Display software</div>
        <div>- Testing</div>
      </div>
      <div class="content">
        <h2>EM-field meter for MRIs</h2>
        <div><a href="https://www.ltsi.univ-rennes1.fr/" target="_blank">INSERM</a></div>
        <div class="desc">Measure of electromagnetic fields inside MRIs for research. Non-magnetic hardware. Data transferred via optical fiber.</div>
      </div>
    </div>
  </div>
  

</div>