<div class="tech">
  <div style="background-image: url(assets/images/tech/design.jpg); color: black">DESIGN</div>
  <div style="background-image: url(assets/images/tech/schematic.png); color: black">SCHEMATICS</div>
  <div style="background-image: url(assets/images/tech/layout.png)">LAYOUT</div>
  <div style="background-image: url(assets/images/tech/debug.jpg)">DEBUG</div>
  <div style="background-image: url(assets/images/tech/code.png)">CODE</div>
  <div style="background-image: url(assets/images/tech/ui.png)">UI/UX</div>
</div>